:root {
  --darkColor: rgb(30, 35, 39);
  --lightColor: rgb(234, 240, 233);
  --primeColor: rgb(31, 110, 110);
  --secondColor:rgba(175, 59, 59, 0.945);
  --thirdColor: rgba(78, 78, 73, 0.87);
  --fourthColor: rgba(59, 76, 175, 0.945);
  --dashedBorder: dashed 2px var(--lightColor);
  --solidBorder: solid 1px var(--lightColor);
  --doubleBorder: double 3px var(--lightColor);
  --borderRadius: 1rem;
 }

 ::selection {
  background-color: var(--primeColor);
  color: var(--darkColor);
}


html,
body {
  font-family: Nunito, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}


.save-note {
  display: none;
}

.icons i {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

.note-textarea,
.note-title {
  color: var(--darkColor);
  width: 100%;
  outline: none;
  border: none;
}

.navbar {
  color: var(--primeColor);
}
.note-textarea {
  resize: none;
  height: calc(100% - 63px);
  padding-top: 15px;
}

.note-title {
  height: 50px;
  margin-top: 13px;
  font-size: 3rem;
}

.note-title:read-only,
.note-textarea:read-only {
  color: var(--primeColor);
}

.list-container .card {
  height: calc(100vh - 70px);
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.list-container {
  padding-left: 0;
}

.list-container .list-group,
.list-container .list-group-item:first-child,
.list-container .card {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-item-title {
  display: inline-block;
  width: 75%;
}

.list-container i {
  font-size: 1.1rem;
  cursor: pointer;
}

.list-container .list-group-item {
  border-left: none;
  border-right: none;
  padding: 20px;
  cursor: pointer;
}

#contact, #mycontact {
 font-size:0.7rem;
 text-decoration: none;
}

.footer {
  padding: 3rem;
}
